@use '../utils/' as u;

body{
    width: 100%;
    font-size: 16px;
    font-family: u.$font-Monserat;
}

//First section
.section-1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../Images/goma_kivu_congo_drc_street_un_vehicles_africa_2019_shutterstock_1383893549.jpg');
}
//Header
header{
    .empty-content{
        width: 100%;
        padding: 30px;
        background-color: var(--yellow);
        position: fixed;
        z-index: 10;
    }
    .header-content{
        width: 90%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 10;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--deepgreen);
        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            i{
                padding: 10px;
                border-radius: 50%;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
            h4{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
        }
        .header-items{
            ul{
                display: flex;
                flex-direction: row;
                gap: 15px;
                a{
                    color: var(--white);
                    &:hover{
                        color: var(--yellow);
                        transition: 1s;
                    }
                }
                .accueil{
                    color: var(--yellow);
                    border-bottom: 2px solid var(--yellow);
                }
            }
        }
    }
}

//Ce contenu concerne notre page d'accueil
.cover-page{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    div{
        color: var(--white);
        h2, p, button{
            margin-top: 15px;
        }
    }
}

//Notre section va comporter les contenus de notre systeme Salama Control
section{
    .salamacontrol{
        background-image: url(../../Images/fond.jpg);
        .salamacontrol-content{
            width: 70%;
            margin: auto;
            padding: 20px;
            h3{
                color: var(--deepgreen);
            }
            h4{
                width: 130px;
                margin-top: 5px;
                border-bottom: 3px solid var(--yellow);
            }
            p{
                margin-top: 10px;
                i{
                    font-size: 30px;
                    font-style: italic;
                    color: var(--green);
                }
            }
        }
    }
}
//Les fonctionalites de Salama Control
.fonctionnalite{
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    h3{
        color: var(--deepgreen);
    }
    h4{
        width: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid var(--yellow);
    }
    .fontionnalite-content{
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        div{
            display: flex;
            flex-direction: row;
            gap: 10px;
            span{
                width: 30px;
                height: 30px;
                padding: 10px 15px;
                border-radius: 100%;
                background: linear-gradient(45deg, var(--deepgreen), var(--yellow));
            }
        }
    }

}
//Les avantages de Salama Control
.avantages{
    padding: 20px;
    background-color: var(--gray);
    .avantages-items{
        width: 70%;
        margin: auto;
        h3{
            color: var(--deepgreen);
        }
        h4{
            width: 130px;
            margin-top: 8px;
            border-bottom: 3px solid var(--yellow);
        }
        .avantages-content{
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            p{
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 3px 0px var(--deepgreen);
            }
        }
    }
}
//Contactez-nous
.contact{
    width: 70%;
    margin: auto;
    padding: 20px;
    h3{
        color: var(--deepgreen);
    }
    h4{
        width: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid var(--yellow);
    }
}

//Boite de suggestion
.suggestion{
    background-image: url(../../Images/fond.jpg);
    .suggestion-content{
        width: 70%;
        margin: auto;
        padding: 20px;
        h3{
            text-align: center;
            color: var(--deepgreen);
        }
        h4{
            width: 70px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 3px solid var(--yellow);
        }
        p{
            text-align: center;
            margin-bottom: 20px;
            font-weight: bolder;
            color: var(--deepgreen);
        }
        div{
            text-align: center;
            a{
                padding: 8px 12px;
                color: var(--white);
                border-radius: 4px;
                background: linear-gradient(45deg, var(--deepgreen), var(--yellow));
            }
        }
    }

}

//Le footer de notre page qui contient deux blocs
footer{
    padding: 15px 25px;
    background-color: var(--deepgreen);
    .footer-content{
        display: flex;
        align-items: center;
        color: var(--white);
        justify-content: space-between;
        div{
            a{
                color: var(--white);
            }
            i{
                border-radius: 50%;
                padding: 10px;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
        }
    }
    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        width: fit-content;
        padding: 10px 10px;
        color: var(--white);
        position: fixed;
        right: 0;
        bottom: 60px;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: linear-gradient(60deg, var(--deepgreen), var(--yellow));
    }
}