@use '../utils/' as u;

body{
    width: 100%;
    font-size: 16px;
    font-family: u.$font-Monserat;
}

//First section
.section-1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../Images/goma_kivu_congo_drc_street_un_vehicles_africa_2019_shutterstock_1383893549.jpg');
}
//Header
header{
    .empty-content{
        width: 100%;
        padding: 30px;
        background-color: var(--yellow);
    }
    .header-content{
        width: 90%;
        margin: auto;
        margin-top: -25px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--deepgreen);
        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            i{
                padding: 10px;
                border-radius: 50%;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
            h4{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
        }
        .header-items{
            ul{
                display: flex;
                flex-direction: row;
                gap: 15px;
                a{
                    color: var(--white);
                    &:hover{
                        color: var(--yellow);
                        transition: 1s;
                    }
                }
                .accueil{
                    color: var(--yellow);
                    border-bottom: 2px solid var(--yellow);
                }
            }
        }
    }
}

//Ce contenu concerne notre page d'accueil
.cover-page{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    div{
        color: var(--white);
        h2, p, button{
            margin-top: 15px;
        }
    }
}

//Notre section va comporter les contenus de notre systeme Salama Control
section{
    .salamacontrol{
        width: 70%;
        margin: auto;
        padding: 20px;
        h3{
            color: var(--deepgreen);
        }
        h4{
            width: 130px;
            margin-top: 5px;
            border-bottom: 3px solid var(--yellow);
        }
        p{
            margin-top: 10px;
            i{
                font-size: 30px;
                font-style: italic;
                color: var(--green);
            }
        }
    }
}
//Les avantages de Salama Control
.avantages{
    padding: 20px;
    background-color: var(--gray);
    .avantages-items{
        width: 70%;
        margin: auto;
        h3{
            color: var(--deepgreen);
        }
        h4{
            width: 130px;
            margin-top: 8px;
            border-bottom: 3px solid var(--yellow);
        }
        .avantages-content{
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            p{
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px var(--deepgreen);
            }
        }
    }
}

//Le footer de notre page qui contient deux blocs
footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: space-between;
    background-color: var(--deepgreen);
    div{
        a{
            color: var(--white);
        }
        i{
            border-radius: 50%;
            padding: 10px;
            color: var(--deepgreen);
            background-color: var(--yellow);
        }
    }
}